<link rel="stylesheet" href="https://use.typekit.net/ijv0kzx.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js
"></script>

{%- for block in section.blocks -%} {%- case block.type -%} {%- when
'announcement' -%}
<div
  class="announcement-bar color-{{ block.settings.color_scheme }} gradient"
  role="region"
  aria-label="{{ 'sections.header.announcement' | t }}"
  {{
  block.shopify_attributes
  }}
>
  {%- if block.settings.text != blank -%} {%- if block.settings.link != blank
  -%}
  <a
    href="{{ block.settings.link }}"
    class="announcement-bar__link link link--text focus-inset animate-arrow"
  >
    {%- endif -%}

    <div class="tickerwrapper">
      <ul class="list">
        <li class="listitem">
          <span class="announcement-bar__message h5 text">
            {{ block.settings.text | escape }}
          </span>
        </li>
        <li class="listitem">
          <span class="announcement-bar__message h5 text">
            {{ block.settings.text | escape }}
          </span>
        </li>
        <li class="listitem">
          <span class="announcement-bar__message h5 text">
            {{ block.settings.text | escape }}
          </span>
        </li>
        <li class="listitem">
          <span class="announcement-bar__message h5 text">
            {{ block.settings.text | escape }}
          </span>
        </li>
        <li class="listitem">
          <span class="announcement-bar__message h5 text">
            {{ block.settings.text | escape }}
          </span>
        </li>
        <li class="listitem">
          <span class="announcement-bar__message h5 text">
            {{ block.settings.text | escape }}
          </span>
        </li>
        <li class="listitem">
          <span class="announcement-bar__message h5 text">
            {{ block.settings.text | escape }}
          </span>
        </li>
        <li class="listitem">
          <span class="announcement-bar__message h5 text">
            {{ block.settings.text | escape }}
          </span>
        </li>
      </ul>
    </div>
    <!-- <p class="announcement-bar__message h5">
                {{ block.settings.text | escape }}
                {%- if block.settings.link != blank -%}
                  {% render 'icon-arrow' %}
                {%- endif -%}
              </p> -->
    {%- if block.settings.link != blank -%}
  </a>
  {%- endif -%} {%- endif -%}
</div>

<style>
  .tickerwrapper {
    /* the outer div */
    position: fixed;
    bottom: 0;
    left: 0;
    /* border: 1px solid #444; */
    background: black;
    color: white;
    width: 100%;
    height: 2.8rem;
    overflow: hidden;
    cursor: default;
    z-index: 2000;
  }

  ul.list {
    position: relative;
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0;
    padding-top: 0.4rem;
  }

  ul.list.cloned {
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 0.4rem;
  }

  ul.list li {
    float: left;
    padding-left: 1.8rem;
  }
</style>

<script>
  $(document).ready(function () {
    var $tickerWrapper = $(".tickerwrapper");
    var $list = $tickerWrapper.find("ul.list");
    var $clonedList = $list.clone();
    var listWidth = 10;

    $list.find("li").each(function (i) {
      listWidth += $(this, i).outerWidth(true);
    });

    var endPos = $tickerWrapper.width() - listWidth;

    $list.add($clonedList).css({
      width: listWidth + "px",
    });

    $clonedList.addClass("cloned").appendTo($tickerWrapper);

    //TimelineMax
    var infinite = new TimelineMax({ repeat: -1, paused: true });
    var time = 80;

    infinite
      .fromTo(
        $list,
        time,
        { rotation: 0.01, x: 0 },
        { force3D: true, x: -listWidth, ease: Linear.easeNone },
        0
      )
      .fromTo(
        $clonedList,
        time,
        { rotation: 0.01, x: listWidth },
        { force3D: true, x: 0, ease: Linear.easeNone },
        0
      )
      .set($list, { force3D: true, rotation: 0.01, x: listWidth })
      .to(
        $clonedList,
        time,
        { force3D: true, rotation: 0.01, x: -listWidth, ease: Linear.easeNone },
        time
      )
      .to(
        $list,
        time,
        { force3D: true, rotation: 0.01, x: 0, ease: Linear.easeNone },
        time
      )
      .progress(1)
      .progress(0)
      .play();
  });
</script>

{%- endcase -%} {%- endfor -%} {% schema %} { "name":
"t:sections.announcement-bar.name", "max_blocks": 12, "blocks": [ { "type":
"announcement", "name": "t:sections.announcement-bar.blocks.announcement.name",
"settings": [ { "type": "text", "id": "text", "default": "Welcome to our store",
"label": "t:sections.announcement-bar.blocks.announcement.settings.text.label"
}, { "type": "select", "id": "color_scheme", "options": [ { "value": "accent-1",
"label": "t:sections.all.colors.accent_1.label" }, { "value": "accent-2",
"label": "t:sections.all.colors.accent_2.label" }, { "value": "background-1",
"label": "t:sections.all.colors.background_1.label" }, { "value":
"background-2", "label": "t:sections.all.colors.background_2.label" }, {
"value": "inverse", "label": "t:sections.all.colors.inverse.label" } ],
"default": "accent-1", "label": "t:sections.all.colors.label" }, { "type":
"url", "id": "link", "label":
"t:sections.announcement-bar.blocks.announcement.settings.link.label" } ] } ],
"default": { "blocks": [ { "type": "announcement" } ] } } {% endschema %}
