{%- if cart != empty -%} {%- for item in cart.items -%}
<div id="cart-notification-product-{{ item.key }}" class="cart-item">
  {%- if item.image -%}
  <div class="cart-notification-product__image global-media-settings">
    <img
      src="{{ item.image | image_url: width:500 }}"
      alt="{{ item.image.alt | escape }}"
      loading="lazy"
    />
  </div>
  {%- endif -%}
  <div>
    <h3 class="gridItem bigTitle cart-notification-product__name h4">
      {{ item.product.title | escape }}
    </h3>
    {%- if item.original_price != item.final_price -%}
    <div class="cart-item__discounted-prices">
      <span class="visually-hidden">
        {{ "products.product.price.regular_price" | t }}
      </span>
      <s class="cart-item__old-price product-option">
        {{- item.original_price | money -}}
      </s>
      <span class="visually-hidden">
        {{ "products.product.price.sale_price" | t }}
      </span>
      <strong class="cart-item__final-price product-option">
        {{ item.final_price | money }}
      </strong>
    </div>
    {%- else -%}
    <div class="product-option">
      Price:&nbsp;&nbsp;
      {{ item.original_price | money }}
    </div>
    {%- endif -%}
    <div class="cart-item__quantity-wrapper">
      <span>Quantity:&nbsp;&nbsp;</span>
      <label class="visually-hidden" for="Quantity-{{ item.index | plus: 1 }}">
        {{ "products.product.quantity.label" | t }}
      </label>
      <quantity-input class="cart_quantity">
        <button
          class="hidden quantity__button no-js-hidden"
          name="minus"
          type="button"
        >
          <span class="visually-hidden">{{
            "products.product.quantity.decrease"
              | t: product:item.product.title
              | escape
          }}</span>
          {% render 'icon-minus' %}
        </button>
        <input
          class="quantity__input"
          type="number"
          name="updates[]"
          value="{{ item.quantity }}"
          min="0"
          aria-label="{{
            'products.product.quantity.input_label'
              | t: product:item.product.title
              | escape
          }}"
          id="Quantity-{{ item.index | plus: 1 }}"
          data-index="{{ item.index | plus: 1 }}"
        />
        <button
          class="hidden quantity__button no-js-hidden"
          name="plus"
          type="button"
        >
          <span class="visually-hidden">{{
            "products.product.quantity.increase"
              | t: product:item.product.title
              | escape
          }}</span>
          {% render 'icon-plus' %}
        </button>
      </quantity-input>

      <cart-remove-button
        class="cart-remove-button"
        id="Remove-{{ item.index | plus: 1 }}"
        data-index="{{ item.index | plus: 1 }}"
      >
        <a
          href="{{ item.url_to_remove }}"
          class="bigTitle button button--tertiary"
          aria-label="{{ 'sections.cart.remove_title' | t: title:item.title }}"
        >
          remove
          <!-- {% render 'icon-remove' %} -->
        </a>
      </cart-remove-button>
    </div>
    <!-- <div class="smallText price__container">
      {%- comment -%} Explanation of description list: - div.price__regular:
      Displayed when there are no variants on sale - div.price__sale: Displayed
      when a variant is a sale {%- endcomment -%}
      <div class="text price__regular">
        <span class="visually-hidden visually-hidden--inline">{{
          "products.product.price.regular_price" | t
        }}</span>
        <span class="price-item price-item--regular">
          {{ money_price }}
        </span>
      </div>
      <div class="price__sale">
        {%- unless product.price_varies == false and
        product.compare_at_price_varies %}
        <span class="visually-hidden visually-hidden--inline">{{
          "products.product.price.regular_price" | t
        }}</span>
        <span>
          <s class="price-item price-item--regular">
            {% if settings.currency_code_enabled %}
            {{ compare_at_price | money_with_currency }}
            {% else %}
            {{ compare_at_price | money }}
            {% endif %}
          </s>
        </span>
        {%- endunless -%}
        <span class="visually-hidden visually-hidden--inline">{{
          "products.product.price.sale_price" | t
        }}</span>
        <span class="price-item price-item--sale price-item--last">
          {{ money_price }}
        </span>
      </div>
      <small
        class="unit-price caption{% if product.selected_or_first_available_variant.unit_price_measurement == nil %} hidden{% endif %}"
      >
        <span class="visually-hidden">{{
          "products.product.price.unit_price" | t
        }}</span>
        <span class="price-item price-item--last">
          <span
            >{{- product.selected_or_first_available_variant.unit_price | money -}}</span
          >
          <span aria-hidden="true">/</span>
          <span class="visually-hidden"
            >&nbsp;{{ "accessibility.unit_price_separator" | t }}&nbsp;</span
          >
          <span>
            {%- if
            product.selected_or_first_available_variant.unit_price_measurement.reference_value
            != 1 -%}
            {{- product.selected_or_first_available_variant.unit_price_measurement.reference_value -}}
            {%- endif -%}
            {{
              product.selected_or_first_available_variant.unit_price_measurement
                .reference_unit
            }}
          </span>
        </span>
      </small>
    </div> -->

    <dl>
      {%- unless item.product.has_only_default_variant -%} {%- for option in
      item.options_with_values -%}
      <div class="hidden product-option">
        <dt>{{ option.name }}:</dt>
        <dd>{{ option.value }}</dd>
      </div>
      {%- endfor -%} {%- endunless -%} {%- for property in item.properties -%}
      {%- assign property_first_char = property.first | slice: 0 -%} {%- if
      property.last != blank and property_first_char != '_' -%}
      <div class="hidden product-option">
        <dt>{{ property.first }}:</dt>
        <dd>
          {%- if property.last contains '/uploads/' -%}
          <a href="{{ property.last }}" class="link" target="_blank">
            {{ property.last | split: "/" | last }}
          </a>
          {%- else -%}
          {{ property.last }}
          {%- endif -%}
        </dd>
      </div>
      {%- endif -%} {%- endfor -%}
    </dl>
    {%- if item.selling_plan_allocation != nil -%}
    <p class="hidden product-option">
      {{ item.selling_plan_allocation.selling_plan.name }}
    </p>
    {%- endif -%}
  </div>
</div>
{%- endfor -%} {%- endif -%}
